body {
    color: #000;
    font-family: calibri, arial;
    font-size: 14px;
    margin: 0;
}

header,
main,
footer {
    padding: 20px;
}

/**
 * Info Tables
 */

tbody {
    font-family: consolas;
	font-size: .95em;
}

td, th {
    padding: 5px;
}

thead > tr > td {
    background-color: #efefef;
}

tbody > tr:nth-child(2n) > td {
    background-color: #f8f8f8;
}

h1 {
    margin: 0;
}

h2 {
    /* max-width: 900px; */
    color: #898989;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 30px;
    text-transform: uppercase;
}

h2:first-child {
    margin-top: 0;
}

/**
 * User Management
 */

.mfn-cnu {
    /* margin-bottom: 80px; */
}

.mfn-cns-notice {
    font-family: consolas;
}

.mfn-cnu-warning {
    font-weight: 500;
    color: #EB0628;
}

.mfn-cnu-error {
    color: #EB0628;
}

.mfn-cnu-success {
    color: #34c524
}

